Функции

In [ ]:
min
max
sum
round
abs
sorted

In [ ]:
numbers = [1, 2, 33, 845, 11, 45]

print(max(numbers))

numbers.sort() #метод сорт
print(numbers)

845
[1, 2, 11, 33, 45, 845]

## Map
применение операции к каждому элементу

In [ ]:
my_list = [1, 2, 33, 845, 11, 45]

def mult_by_2(x):
    return x * 2

new_list = map(mult_by_2, my_list) # добавили в аргументы - "что нужно делать" и "с чем это делать"
print(list(new_list)) #нельзя просто распечатать МАР, приходится преобразовывать его

[2, 4, 66, 1690, 22, 90]

In [ ]:
my_list = [1, 2, 33, 845, 11, 45]

new_list = map(lambda x: x * 2, my_list) #лямбда позволяет написать фанкцию в аргумент. Х: - принимает значение, а Х*2 возвращает
#используется когда код простой, без сложных условий
print(list(new_list))

[2, 4, 66, 1690, 22, 90]

## Тернарный оператор

In [12]:
my_list = [1, 2, 33, 845, 11, 45]


new_list = map(lambda x: x * 5 if x > 10 else x * 2, my_list)  # 'x * 5 if x > 10 else x * 2' вот это и есть тернарный оператор. Условие записанное в одну строчку
sort_list = sorted(new_list)

print(sort_list)

[2, 4, 55, 165, 225, 4225]

## Filter

вариант 1

In [ ]:
my_list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9,]

new_list2 = []
for x in my_list2:
    if x % 2 == 0:
        new_list2.append(x) # если число четное, то оно попадает в новый список
print(new_list2)

[2, 4, 6, 8]

вариант 2

In [14]:
my_list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9,]

def is_even(x):
    if x % 2 == 0:
        return True
    else:
        False

new_list2 = filter(is_even, my_list2)
print(list(new_list2))

[2, 4, 6, 8]

вариант 3

In [16]:
my_list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9,]

def is_even(x):
    return x % 2 == 0

new_list2 = filter(is_even, my_list2)
print(list(new_list2))

[2, 4, 6, 8]

вариант 4

In [15]:
my_list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9,]

new_list2 = filter(lambda x: x % 2 == 0, my_list2)
print(list(new_list2))

[2, 4, 6, 8]

## Datatime

In [21]:
import datetime
time_now = datetime.datetime.now()
print(time_now)
print(time_now.hour)
print(time_now.year)
print(time_now.isoweekday())

2025-05-14 18:21:11.168083
18
2025
3

In [24]:
easy_date = datetime.datetime(1980, 1, 15)
print(easy_date)
print(easy_date.timestamp())

1980-01-15 00:00:00
316731600.0

In [26]:
my_time = '2023/06/05 12 hours, 30 mins, 10 secs'

python_date = datetime.datetime.strptime(my_time, '%Y/%m/%d %H hours, %M mins, %S secs')
print(python_date)
print(python_date.month)

2023-06-05 12:30:10
6

In [28]:
human_date = python_date.strftime('Year: %y, month: %B, day: %d')
print(human_date)

Year: 23, month: June, day: 05